
srs/classifieds.Web.Mvc/App_Data/** linguist-vendored
srs/classifieds.Web.Mvc/wwwroot/** linguist-vendored
*.cshtml linguist-language=C#
*.1 linguist-vendored
*.2 linguist-vendored  
*.3 linguist-vendored
*.4 linguist-vendored
*.5 linguist-vendored
*.6 linguist-vendored
*.7 linguist-vendored
*.8 linguist-vendored
*.man linguist-vendored
*.roff linguist-vendored
*.text
*.txt