@model classifieds.Web.Models.Ads.AdsViewModel
@{ Layout = "layout/_front"; }
@section styles{
    <link href="~/lib/dropzone/dist/min/dropzone.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />
}
<div class="hero is-fullheight is-light is-bold">
    <div class="hero-body">
        <div class="container persian">
            <div class="box">
                <h1>ارسال آگهی جدید</h1>
                <br />
                <form asp-action="create" enctype="multipart/form-data" id="CreateAd">
                    <div class="help is-danger" asp-validation-summary="All">
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <label asp-for="DistrictId" class="label">محله</label>
                                <div class="control has-icons-right">
                                    <div class="select is-fullwidth">
                                        <select asp-for="DistrictId" name="DistrictId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Districts"]">
                                        </select>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-city"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label asp-for="TypeId" class="label">نوع ملک</label>
                                <div class="control has-icons-right">
                                    <div class="select is-fullwidth">
                                        <select asp-for="TypeId" id="type" asp-items="(IEnumerable<SelectListItem>)@ViewData["PropertyTypes"]">
                                        </select>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-list"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label asp-for="CategoryId" class="label">دسته بندی</label>
                                <div class="control has-icons-right">
                                    <div class="select is-fullwidth">
                                        <select id="category" asp-for="CategoryId" asp-items="(IEnumerable<SelectListItem>)@ViewData["Categories"]">
                                        </select>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-list"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input class="input currency" dir="ltr" placeholder="قیمت" name="Price" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field" id="deposit">
                                <div class="control has-icons-left">
                                    <input class="input currency" dir="ltr" placeholder="پیش پرداخت" id="depostInput" name="Deposit" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-dollar-sign"></i>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input asp-for="Title" class="input" type="text" placeholder="عنوان">
                                    <span class="help is-danger" asp-validation-for="Title"></span>
                                </div>
                            </div>
                            <div class="field">
                                <label asp-for="Area" class="label">متراژ</label>
                                <div class="control has-icons-left ">
                                    <input class="input area" id="area" asp-for="Area" placeholder="مساحت" />
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-globe"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field" id="bedroom">
                                <label asp-for="Bedroom" class="label">تعداد خواب</label>
                                <div class="control  has-icons-left has-icons-right">
                                    <div class="select is-fullwidth">
                                        <select asp-for="Bedroom">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-bed"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Description" class="label">توضیحات</label>
                        <div class="control">
                            <textarea asp-for="Description" class="textarea"></textarea>
                            <span class="help is-danger" asp-validation-for="Description"></span>
                        </div>

                    </div>
                    <div class="field">
                        <div class=" dz-clickable dropzone" id="dropzone">
                            <div class="dz-message ">
                                <i class="fas fa-2x fa-upload has-text-success"></i><br />
                                <br />
                                <span class="title is-5">
                                    برای اپلود فایل کلیک کنید
                                </span>
                                <br />
                                <span class="subtitle is-6">حداکثر حجم هر عکس 4 مگابایت است .</span>
                            </div>
                        </div>
                    </div>

                    <div class="field" id="map" style="height:250px">
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-success" id="submitButton">
                                <i class="fas fa-paper-plane pl-1"> </i>
                                ارسال
                            </button>
                        </div>
                        <div class="control">
                            <a href="/" class="button is-link is-light">
                                <i class="fas fa-trash pl-1 has-text-danger"> </i>
                                انصراف
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="tpl" style="display:none">
    <div class="dz-preview dz-file-preview">
        <div class="dz-image">
            <img data-dz-thumbnail />

        </div>
        <div class="dz-details">
            <div class="dz-filename "><span data-dz-name></span></div>
            <div class="dz-size my-2" data-dz-size></div>
        </div>
        <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
        <div class="dz-success-mark">
            <span class="icon has-text-success">
                <i class="fas fa-2x fa-check"></i>
            </span>
        </div>
        <div class="dz-error-mark">
            <span class="icon has-text-danger">
                <i class="fas fa-2x fa-trash"></i>
            </span>
        </div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div data-dz-remove class="has-text-centered my-1">
            <div class="icon has-text-danger">
                <i class="fas fa-times "></i>
            </div>
            <span>حذف</span>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/dropzone/dist/min/dropzone.min.js" asp-append-version="true"></script>
    <script src="~/libs/jquery-validate/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/libs/jquery-validate/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/persiandigits/persianNum.jquery-2.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.5.4"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <environment names="Development">
        <script src="~/view-resources/Views/Ads/Index.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Ads/Index.min.js" asp-append-version="true"></script>
    </environment>
}
