@using classifieds.Web.Startup
@model classifieds.Posts.Dto.GetAllPostsInput
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front";
}
<div class="hero is-fullheight is-light is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="box">
                <div class="columns">
                    <div class="column is-3 ">
                        <aside class="menu mt-2">
                            <p class="menu-label">
                                وضعیت آگهی
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <div class="field">
                                        <div class="control">
                                            <label class="checkbox">
                                                <input type="checkbox" id="featured">
                                                ویژه
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="menu-label">
                                متراژ
                            </p>
                            <ul class="menu-list">
                                <li>
                                    <div class="field is-horizontal">
                                        <div class="field-body">
                                            <div class="field">
                                                <p class="control is-expanded">
                                                    <input class="input is-danger" id="minArea" type="number" placeholder="حداقل">
                                                </p>
                                            </div>
                                            <div class="field">
                                                <p class="control is-expanded ">
                                                    <input class="input is-success" id="maxArea" type="number" placeholder="حداکثر">
                                                </p>
                                            </div>
                                        </div>
                                </li>
                                <p class="menu-label">
                                    قیمت
                                </p>
                                <ul class="menu-list">
                                    <li>
                                        <div class="field is-horizontal">
                                            <div class="field-body">
                                                <div class="field">
                                                    <p class="control is-expanded">
                                                        <input class="input is-danger" id="minPrice" type="number" placeholder="حداقل">
                                                    </p>
                                                </div>
                                                <div class="field">
                                                    <p class="control is-expanded ">
                                                        <input class="input is-success" id="maxPrice" type="number" placeholder="حداکثر">
                                                    </p>
                                                </div>
                                            </div>
                                    </li>
                                </ul>
                                <p class="menu-label">
                                    تعداد خواب
                                </p>
                                <ul class="menu-list">
                                    <li>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">بیشتر از 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="menu-label">
                                    نوع ملک
                                </p>
                                <ul class="menu-list">
                                    <li>
                                        <div class="control">
                                            <div class="select">
                                                <select>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">بیشتر از 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="menu-list mt-2">
                                    <li>
                                        <button class="button is-info" id="apply">اعمال</button>
                                    </li>
                                </ul>
                        </aside>
                    </div>
                    <div class="column is-9" style="min-height:500px;">
                        <div class="tabs is-centered">
                            <ul>
                                <li class="is-active"><a>جدیدترین</a></li>
                                <li><a>ارزانترین</a></li>
                                <li><a>گرانترین</a></li>
                            </ul>
                        </div>
                        <div class="columns is-multiline" id="pager">
                        </div>
                        <nav class="pagination" role="navigation" aria-label="pagination">
                            <a class="pagination-previous">قبلی</a>
                            <a class="pagination-next">بعدی </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script asp-append-version="true" src="~/lib/PersianDate-1.1.0/dist/persian-date.min.js"></script>
    <environment names="Development">
        <script asp-append-version="true" src="~/view-resources/Views/Ads/pagination.js"></script>

    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/view-resources/Views/Ads/pagination.min.js"></script>
    </environment>
}
