@using classifieds.Web.Startup
@model classifieds.Posts.Dto.GetAllPostsInput
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu mt-2">
                    <p class="menu-label">
                        وضعیت آگهی
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" id="featured">
                                        ویژه
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="menu-label">
                        متراژ
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input is-danger" id="minArea" type="number" placeholder="حداقل">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded ">
                                            <input class="input is-success" id="maxArea" type="number" placeholder="حداکثر">
                                        </p>
                                    </div>
                                </div>
                        </li>
                    </ul>
                    <p class="menu-label">
                        تعداد خواب
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">بیشتر از 4</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="menu-list mt-2">
                        <li>
                            <button class="button is-info" id="apply">اعمال</button>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>جدیدترین</a></li>
                        <li><a>ارزانترین</a></li>
                        <li><a>گرانترین</a></li>
                    </ul>
                </div>
                <div class="columns is-multiline" id="pager">

                </div>
                <nav class="pagination" role="navigation" aria-label="pagination">
                    <a class="pagination-previous">قبلی</a>
                    <a class="pagination-next">بعدی </a>
                </nav>

            </div>

        </div>
    </div>

</div>
@section scripts{

    <script>
        $(function () {
            var pageIndex = 1;
            var rowPerPage = 30;
            var totalPages = 0;
            var path = '/api/services/app/post/getall?SkipCount=' + (pageIndex - 1) * rowPerPage + '&MaxResultCount=' + 10;
            function loadAds(path){
                $.getJSON(path, function () {
                    console.log("success");
                })
                    .done(function (res) {
                        $("#pager").empty();
                        if (res.result.totalCount === 0) {
                            $("#pager").append(`<p class="subtitle has-text-centered">نتیجه ای یافت نشد .</p>`)
                        }
                        totalPages = Math.ceil(res.result.totalCount / rowPerPage);
                        console.log("num of pages", totalPages);
                        if (pageIndex === 1) {
                            $(".pagination-previous").attr("disabled", "disabled");
                        } else {
                            $(".pagination-previous").attr("disabled", "");
                        }
                        if (pageIndex === totalPages) {
                            $(".pagination-next").attr("disabled", "disabled");
                        } else {
                            $(".pagination-next").attr("disabled", "");
                        }
                        res.result.items.forEach((item) => {
                            $("#pager").append(`<div class=" column is-4">
            <a class="fill-div" href="/ads/{{id}}">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&w=1000&q=80" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            ${item.title}
                            <br>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas  fa-square has-text-success"></i></p>
                                    <p>${item.area}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas  fa-clock has-text-warning"></i></p>
                                    <p>نوساز</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas fa-bed has-text-grey"></i></p>
                                    <p>${item.bedroom}</p>
                                </div>
                            </div>
                        </nav>
                    </div>

                </div>
            </a>
        </div>`)
                        })
                    })
                    .fail(function () {
                        console.log("error");
                    })
                    .always(function () {
                        console.log("complete");
                    });
            }


            function FilterAds() {
                var query = {};
                var minArea = $("#minArea").val();
                var maxArea = $("#maxArea").val();
                if (minArea & maxArea) {
                    query.minArea = minArea;
                    query.maxArea = maxArea;
                }
                if ($("#featured").is(":checked")) {
                    query.featured = true;
                } else {
                   delete query.featured ;
                }
                loadAds(path + '&' + $.param(query));
            }
            $("#apply").click(() => {
                FilterAds();
            });
            loadAds(path)
        })

    </script>
}
