@using classifieds.Web.Startup
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front"; }
<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu mt-2">
                    <p class="menu-label">
                        وضعیت آگهی
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox" id="featured">
                                        ویژه
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <p class="menu-label">
                        متراژ
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="field is-horizontal">
                                <div class="field-body">
                                    <div class="field">
                                        <p class="control is-expanded">
                                            <input class="input is-danger" type="number" placeholder="حداقل">
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control is-expanded ">
                                            <input class="input is-success" type="number" placeholder="حداکثر">
                                        </p>
                                    </div>
                                </div>
                        </li>
                    </ul>
                    <p class="menu-label">
                        تعداد خواب
                    </p>
                    <ul class="menu-list">
                        <li>
                            <div class="control">
                                <div class="select">
                                    <select>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">بیشتر از 4</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="menu-list mt-2">
                        <li>
                            <button class="button is-info">اعمال</button>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                <div class="tabs is-centered">
                    <ul>
                        <li class="is-active"><a>جدیدترین</a></li>
                        <li><a>ارزانترین</a></li>
                        <li><a>گرانترین</a></li>
                    </ul>
                </div>
                <div class="columns is-multiline" id="infScroll">

                </div>
                <div class="page-load-status">
                    <div class="loader-ellips infinite-scroll-request">
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                        <span class="loader-ellips__dot"></span>
                    </div>
                    <p class="infinite-scroll-last">پایان </p>
                    <p class="infinite-scroll-error">No more pages to load</p>
                </div>
            </div>

        </div>
    </div>

</div>
@section scripts{
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
    <script type="text/html" id="photo-item-template">
        <div class=" column is-4">
            <a class="fill-div" href="/ads/{{id}}">
                <div class="card card-hover-shadow">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://images.unsplash.com/photo-1580587771525-78b9dba3b914?ixlib=rb-1.2.1&w=1000&q=80" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            {{title}}
                            <br>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas  fa-square has-text-success"></i></p>
                                    <p>{{area}}</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas  fa-clock has-text-warning"></i></p>
                                    <p>نوساز</p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p><i class="fas fa-bed has-text-grey"></i></p>
                                    <p>{{bedroom}}</p>
                                </div>
                            </div>
                        </nav>
                    </div>

                </div>
            </a>
        </div>
    </script>
    <script>
        $(function () {
            var totalPages = 100;
            var $container = $('#infScroll').infiniteScroll({
                path: function () {
                    if (this.pageIndex <= totalPages) {
                        return '/api/services/app/post/getall?SkipCount=' + (this.pageIndex - 1) * 10 + '&MaxResultCount=' + 10
                    }
                },
                responseType: 'text',
                status: '.page-load-status',
                history: false,
            });

            $container.on('load.infiniteScroll', function (event, response) {
                // parse response into JSON data
                var data = JSON.parse(response);
                totalPages = Math.ceil(data.result.totalCount / 10);
                // compile data into HTML
                var itemsHTML = data.result.items.map(getItemHTML).join('');
                // convert HTML string into elements
                var $items = $(itemsHTML);
                // append item elements
                $container.infiniteScroll('appendItems', $items);
            });

            // load initial page
            $container.infiniteScroll('loadNextPage');

            //------------------//

            var itemTemplateSrc = $('#photo-item-template').html();

            function getItemHTML(photo) {
                return microTemplate(itemTemplateSrc, photo);
            }

            // micro templating, sort-of
            function microTemplate(src, data) {
                // replace {{tags}} in source
                return src.replace(/\{\{([\w\-_\.]+)\}\}/gi, function (match, key) {
                    // walk through objects to get value
                    var value = data;
                    key.split('.').forEach(function (part) {
                        value = value[part];
                    });
                    return value;
                });
            }
        })


    </script>
}