@model classifieds.Users.Dto.UserDto
@{ ViewData["Title"] = "مشخصات کاربر";
    Layout = "layout/_front"; }
@section hero{
    <div class="hero is-bold is-primary">
        <div class="hero-body">
            <div class="container">
                sssss
            </div>

        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li><a href="/manage">لیست آگهی ها</a></li>
                        <li ><a href="/manage/changepassword">تغییر رمز</a></li>
                        <li><a href="/Manage/AddPhoneNumber">افزودن شماره تماس</a></li>
                        <li class="is-active" href="/Manage/UserInfo"><a>مشخصات</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
}
<div class="container">
    <section class="section">
     @Model
    </section>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
