@using classifieds.Web.Startup
@model classifieds.Reports.Dto.ReportDto

@{ ViewBag.Title = L("Reports");
    ViewBag.CurrentPageName = PageNames.Reports; }
@section scripts
{

    <environment names="Development">
        <script src="~/view-resources/Views/Reports/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Reports/Index.min.js" asp-append-version="true"></script>
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Reports")</h1>
            </div>
 
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @*@await Html.PartialAsync("~/Views/Roles/Index.AdvancedSearch.cshtml")*@
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="ReportTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Active</th>
                                        <th>@L("Description")</th>
                                        <th>Post</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Html.PartialAsync("~/Areas/Admin/Views/Reports/_CreateModal.cshtml", Model)

<div class="modal fade" id="ReportEditModal" tabindex="-1" role="dialog" aria-labelledby="ReportEditModalLabel" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

