@using classifieds.Web.Startup
@using classifieds.Web.Models.Settings;
@model SettingsInput
@{
    ViewBag.Title = "Edit Setting";
    ViewBag.CurrentPageName = PageNames.Settings;
}
<div class="content">
    <div class="container-fluid">
        <br />
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Settings</div>
                    <div class="card-body"> 
                        <p>@Model.Name.Replace("."," ")</p>
                        <form asp-controller="Settings" asp-action="Edit" asp-area="Admin" method="post">
                            <input asp-for="Name" type="hidden" class="form-control" >
                            <div class="form-group">
                              <label asp-for="Value">Value:</label>
                              <input asp-for="Value" type="text" class="form-control" >
                            </div>
                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
