@using classifieds.Web.Startup
@{
    ViewBag.Title = "create new sale report";
    ViewBag.CurrentPageName = "create new sale report";
}

@section scripts
{
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            postId:null,
            price:null,
            saleDate:null,
            post:null,
            categories:[],
        },
        methods:{
            search:function(){
                axios.get("/api/services/app/post/getdetails?id="+this.postId).then((res)=>{
                    this.post = res.data.result
                });
            },
            submit:function(number){
                axios.defaults.headers.common['X-XSRF-TOKEN'] = document.getElementsByName("__RequestVerificationToken")[0].value;
                var form = new FormData();
                form.append('price', this.price);
                form.append('postId', this.post.id);
                form.append('categoryId', this.post.categoryId);
                form.append('SaleDate', this.saleDate);
                axios.post('/admin/sales/create', form).then((res) => {
                       window.location.href = "/admin/sales";
                   }).catch((err) => console.log(err));
            },
        },
        created:function(){
            var url = window.location.pathname;
            this.postId = url.substring(url.lastIndexOf('/') + 1);
            this.search();
        },
    });
</script>
}
<div class="section">
    <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="card my-5">
                    <div class="card-body" style="min-height:50vh;">
                        <div class="alert alert-primary text-center" role="alert">
                            {{post.title}}
                        </div>
                        <div class="row">
                            <div class=col-md-12>
                                <form>
                                    @Html.AntiForgeryToken()
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <label for="validationDefault01">Date of sale</label>
                                            <input type="date" class="form-control" id="validationDefault01" v-model="saleDate" placeholder="date of sale" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <label for="price">Price</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">$</span>
                                                </div>
                                                <input type="number" class="form-control" v-model.number="price" name="price"
                                                       placeholder="Price" aria-describedby="inputGroupPrepend2" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Benefits </label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                                    </div>

                                    <button class="btn btn-primary" type="button" v-on:click="submit">Submit form</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>