* :not(i) {
    font-family: "Vazir" !important;
}

.select:after {
    display: none !important;
}

.card-hover-shadow {
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .card-hover-shadow:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }

.swiper-container {
    min-width: 0;
    width: 100%;
    height: 400px;
}

.secondary-swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    min-width: 0;
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

    .swiper-slide img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
    }

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

    .loader-ellips__dot:nth-child(1),
    .loader-ellips__dot:nth-child(2) {
        left: 0;
    }

    .loader-ellips__dot:nth-child(3) {
        left: 1.5em;
    }

    .loader-ellips__dot:nth-child(4) {
        left: 3em;
    }

@keyframes reveal {
    from {
        transform: scale(0.001);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

@media screen and (max-width: 768px), print {
    .button.is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }
}

.select2-container .select2-selection--single {
    height: auto !important;
    padding: 3px 0 !important;
    border: 1px solid #dbdbdb !important;
}

    .select2-container .select2-selection--single .select2-selection__arrow {
        top: 5px !important;
    }

    .select2-container .select2-selection--single .select2-selection__placeholder {
        color: #dbdbdb !important;
    }

.select2-container .select2-dropdown {
    border: 1px solid #dbdbdb !important;
    border-top: 0 !important;
}

    .select2-container .select2-dropdown .select2-search {
        margin: 5px;
    }

        .select2-container .select2-dropdown .select2-search .select2-search__field {
            padding: 10px !important;
            border-radius: 3px !important;
            font-size: 1rem;
            height: 2.25em;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
            max-width: 100%;
            width: 100%;
            border-radius: 3px !important;
        }

    .select2-container .select2-dropdown .select2-results__options {
        max-height: 200px !important;
    }

        .select2-container .select2-dropdown .select2-results__options .select2-results__option {
            padding: 0.37em 0.75em !important;
            font-size: 1rem;
        }

.select2 {
    width: 100% !important;
}
/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;
}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.has-bg-img {
    background: url('/img/bg.jpg')center center !important;
    background-size: cover !important;
}

body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

.Site-content {
    flex: 1;
}
.cover {
    width: 100% !important;
    object-fit: cover !important;
}