* :not(i) {
    font-family: "Vazir" !important;
}

.select:after {
    display: none !important;
}

.card-hover-shadow {
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

    .card-hover-shadow:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    }




.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}

.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

    .loader-ellips__dot:nth-child(1),
    .loader-ellips__dot:nth-child(2) {
        left: 0;
    }

    .loader-ellips__dot:nth-child(3) {
        left: 1.5em;
    }

    .loader-ellips__dot:nth-child(4) {
        left: 3em;
    }

@keyframes reveal {
    from {
        transform: scale(0.001);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5em)
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

@media screen and (max-width: 768px), print {
    .button.is-fullwidth-mobile {
        display: flex;
        width: 100%;
    }
}

.select2-container .select2-selection--single {
    height: auto !important;
    padding: 3px 0 !important;
    border: 1px solid #dbdbdb !important;
}

    .select2-container .select2-selection--single .select2-selection__arrow {
        top: 5px !important;
    }

    .select2-container .select2-selection--single .select2-selection__placeholder {
        color: #dbdbdb !important;
    }

.select2-container .select2-dropdown {
    border: 1px solid #dbdbdb !important;
    border-top: 0 !important;
}

    .select2-container .select2-dropdown .select2-search {
        margin: 5px;
    }

        .select2-container .select2-dropdown .select2-search .select2-search__field {
            padding: 10px !important;
            border-radius: 3px !important;
            font-size: 1rem;
            height: 2.25em;
            box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
            max-width: 100%;
            width: 100%;
            border-radius: 3px !important;
        }

    .select2-container .select2-dropdown .select2-results__options {
        max-height: 200px !important;
    }

        .select2-container .select2-dropdown .select2-results__options .select2-results__option {
            padding: 0.37em 0.75em !important;
            font-size: 1rem;
        }

.select2 {
    width: 100% !important;
}
/* prevent the drop down icon going onto a new line for the top bar language link */
.top-bar-language-nav-link {
    min-width: 65px;
}

/* bootstrap model showing two scroll bars */
html {
    overflow: visible;

}

/* main sidebar not under model */
.modal {
    z-index: 1110;
}

.form-group.required .col-form-label:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
}

.has-bg-img {
    background: url('/img/bg.jpg')center center !important;
    background-size: cover !important;
}

body {
    display: flex !important;
    min-height: 100vh !important;
    flex-direction: column !important;
}

.Site-content {
    flex: 1;
}

.cover {
    width: 100% !important;
    object-fit: cover !important;
}

.custom-border {
    width: 100%;
    height: 5vw;

    /* set height to pixels if you want angle to change with screen width */
}

.cat-tabs-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
}

    .cat-tabs-link:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #777;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .cat-tabs-link:hover:after {
        width: 100%;
        left: 0;
    }

.dropzone {
    background: #f4f3f3 !important;
    border-radius: 5px;
    border: 2px dashed rgb(0, 135, 247) !important;
    border-image: none;
    margin-left: auto;
    margin-right: auto;
}

    .dropzone .dz-preview {
        margin: 5px !important;
    }

.dz-progress {
    /* progress bar covers file name */
    display: none !important;
}

.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

.dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 16px;
    min-height: 100px;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0 !important;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    color: white;
    padding: 10px;
}

.overlay-top-corner {
    position: absolute;
    top: 0;
    color: white;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.area {
    background: #4e54c8;
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    width: 100%;
    height: 100vh;
}
    .area .section {
        z-index: 10;
        position: relative;
        margin: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:1;
}

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;
    }

        .circles li:nth-child(1) {
            left: 25%;
            width: 80px;
            height: 80px;
            animation-delay: 0s;
        }


        .circles li:nth-child(2) {
            left: 10%;
            width: 20px;
            height: 20px;
            animation-delay: 2s;
            animation-duration: 12s;
        }

        .circles li:nth-child(3) {
            left: 70%;
            width: 20px;
            height: 20px;
            animation-delay: 4s;
        }

        .circles li:nth-child(4) {
            left: 40%;
            width: 60px;
            height: 60px;
            animation-delay: 0s;
            animation-duration: 18s;
        }

        .circles li:nth-child(5) {
            left: 65%;
            width: 20px;
            height: 20px;
            animation-delay: 0s;
        }

        .circles li:nth-child(6) {
            left: 75%;
            width: 110px;
            height: 110px;
            animation-delay: 3s;
        }

        .circles li:nth-child(7) {
            left: 35%;
            width: 150px;
            height: 150px;
            animation-delay: 7s;
        }

        .circles li:nth-child(8) {
            left: 50%;
            width: 25px;
            height: 25px;
            animation-delay: 15s;
            animation-duration: 45s;
        }

        .circles li:nth-child(9) {
            left: 20%;
            width: 15px;
            height: 15px;
            animation-delay: 2s;
            animation-duration: 35s;
        }

        .circles li:nth-child(10) {
            left: 85%;
            width: 150px;
            height: 150px;
            animation-delay: 0s;
            animation-duration: 11s;
        }



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
.demo-gallery {
    width: 100%;
    height: auto;
    float: left;
}

    .demo-gallery a {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-touch-callout: none;
        display: block;
        float: left;
        margin: 0 12px 12px 0;
        width: 171px;
        line-height: 0;
    }



a.demo-gallery__img--main {
    width: auto;
    height: auto;
}

.demo-gallery figure {
    display: none;
}

.demo-gallery__title {
    line-height: 14px;
    font-size: 14px;
    opacity: 0.8;
    margin-top: 5px;
    width: 100%;
    float: left;
}

@media screen and (max-width: 700px) {

    .row--nav {
        font-size: 18px;
        line-height: 26px;
    }

    .demo-gallery {
        max-width: 500px;
    }

        .demo-gallery a {
            width: 120px;
            margin: 0 4px 4px 0;
        }

    a.demo-gallery__img--main {
        width: 164px;
    }

    .section--head p {
        font-size: 18px;
        line-height: 24px;
    }
}

/*@media screen and (max-width: 490px) {
  .demo-gallery a {
    width: 100px;
    margin: 0 4px 4px 0;
  }
  a.demo-gallery__img--main {
    width: 137px;
  }
}
*/


@media screen and (max-width: 450px) {
    .demo-gallery a {
        width: 95px;
        margin: 0 1px 1px 0;
    }

    a.demo-gallery__img--main {
        width: 127px;
    }
}


@media screen and (max-width: 350px) {
    .demo-gallery a {
        width: 81px;
        margin: 0 1px 1px 0; }

    a.demo-gallery__img--main {
        width: 109px;
    }
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.top-and-bottom, .left-and-right, .corner-border, .bottom-corner {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}
.corner-border::after {
    content: '';
    position: absolute;
    background-color: pink;
    width: 3px;
    height: 60%;
    top: 0;
    right: -15px;
}
.btn-overlay {
    position: absolute;

    top: 50px;
    left: 0;


}