@using classifieds.Web.Startup
@{ ViewBag.Title = L("HomePage");
    ViewBag.CurrentPageName = PageNames.Home;
    Layout = "layout/_front";
}
@section hero{
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <div class="box has-text-link">

                    <div class="column has-text-centered">
                        <a>
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span>خرید و فروش</span>
                        </a>

                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>رهن و اجاره</span>
                        </a>
                    </div>
                    <div class="columns is-centered is-vcentered has-text-centered py-2">
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" id="selectcities">
                                    <option>انتخاب شهر</option>
                                    @foreach (var item in ViewData["cities"] as IEnumerable<classifieds.Cities.Dto.CityDto>)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" disabled id="selectDistrict">
                                    <option>انتخاب محله </option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="select is-fullwidth py-1">
                                <select class="select2" disabled>
                                    <option>نوع ملک </option>
                                    <option>With options</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <button class="button is-primary is-rounded">جستجو</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

}
<div class="container">
    <div class="section">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <h1 class="m-0 text-dark">@L("HomePage")</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="columns">
            <div class="column is-4">
                <h2 class="has-text-centered">
                    <strong>
                        خرید و فروش آپارتمان در تهران
                    </strong>
                </h2>
                <br />
                <ul>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                </ul>
            </div>
            <div class="column is-4">
                <h2 class="has-text-centered">
                    <strong>
                        رهن و اجاره آپارتمان در تهران
                    </strong>
                </h2>
                <br />
                <ul>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                    <li>تهران</li>
                </ul>
            </div>
            <div class="column is-4">
                <h2 class="has-text-centered">
                    <strong>
                        خرید و فروش و رهن و اجاره در دیگر شهرها
                    </strong>
                </h2>
                <br />
                <ul>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>
                    <li>
                        <div class="level">
                            <div class="level-right">
                                <div class="level-item">تهران</div>
                            </div>
                            <div class="level-left">
                                <div class="level-item">44545</div>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>
        </div>

    </div>

</div>
@section Scripts{
    <script>
        $('#selectcities').on('select2:select', function (e) {
            console.log(e.target.value);
            $("#selectDistrict").prop("disabled", false);
        });
    </script>
}