@model classifieds.Models.ManageViewModels.ChangePasswordViewModel
@{ ViewData["Title"] = "تغییر رمزعبور";
    Layout = "layout/_front"; }
<div class="section Site-content" style="height:70vh;">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-8">
                <form asp-controller="Users" asp-action="ChangePassword" method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="help is-danger"></div>
                    <div class="field">
                        <label asp-for="OldPassword" class="label"></label>
                        <div class="col-md-10">
                            <input asp-for="OldPassword" class="input" />
                            <span asp-validation-for="OldPassword" class="help is-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="NewPassword" class="label"></label>
                        <div class="col-md-10">
                            <input asp-for="NewPassword" class="input" />
                            <span asp-validation-for="NewPassword" class="help is-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="ConfirmPassword" class="label"></label>
                        <div class="col-md-10">
                            <input asp-for="ConfirmPassword" class="input" />
                            <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-info">تغییر رمز</button>
                        <a href="/users/@User.Identity.Name" type="submit" class="button is-link is-light">بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
