@using classifieds.Web.Startup
@{
    ViewBag.Title = PageNames.RealEstates;
    ViewBag.CurrentPageName = PageNames.RealEstates;
}

@section scripts
{
    <environment names="Development">
       <script src="~/view-resources/Views/Realestates/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
    </environment>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("RealEstates")</h1>
            </div>
            <div class="col-sm-6">
                <a href="/admin/RealEstates/Create"class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
               
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="RealestatesTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Owner</th>
                                        <th>Phone Numbers</th>
                                        <th>Address</th>
                                        <th>Icon</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>